   /* responsible for formating entire document */
   * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    /* Formats body; setting background image */
    body {
        background-image: url(https://sfwallpaper.com/images/web-backgrounds-9.jpg);
        ;
    }
    /* responisble for formating the header */
    #header {
        margin-top: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    /* creates window on page for script to be dispalyed */
    .main-content {
        margin-top: 10%;
        padding: 5%;
        width: 70%;
        height: auto;
        background-color: white;
        text-align: center;
    }
    /* styles link to high scores list */
    #highscores {
        position: absolute;
        left: 5%;
        width: 50%;
    }
    /* styels the count down clock */
    #count-down {
        position: absolute;
        right: 5%;
        width: 50%;
        text-align: right;
    }
    /* styles the greeting message */
    #greeting {
        position: relative;
        left: 5%;
        width: 90%;
    }